.hero-section {
  color: #285e32;
  padding: 3rem 2rem;
  margin: 20px;
  margin-bottom: 3rem;
  background-color: #fdfef6;
  font-family: "Inter", sans-serif;
  min-height: 70vh;
}

.hero-h1 {
  margin-top: 1rem;
  font-size: 3rem;
}

.hero-h1 h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.hero-p {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 3rem;
}

.hero-b {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  padding-left: 0.5rem;
}

.hero-b button {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border: 2px solid #285e32;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hero-b button:first-child {
  background-color: #285e32;
  color: #fff;
}

.hero-b button:last-child {
  background-color: #fff;
  color: #285e32;
}

.hero-b button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .hero-h1 {
    font-size: 1.5rem;
  }
  .hero-section {
    color: #285e32;
    padding: 3rem 2rem;
    margin: 20px;
    margin-bottom: 3rem;
    background-color: #fdfef6;
    font-family: "Inter", sans-serif;
    min-height: fit-content;
  }
  .hero-p {
    font-size: 1rem;
    margin-top: 2rem;
  }

  .hero-b button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero-h1 {
    font-size: 1rem;
  }

  .hero-p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .hero-b button {
    width: 100%;
    font-size: 0.7rem;
    padding: 0.6rem 1rem;
  }
}
